{% extends 'base.html.twig' %}
{% block title %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Statistique</title>
{% endblock %}

{% block body %}
    <div class="container" style="align-items: center; ">
    <div class="box-header">
        {# <i class="fa fa-envelope"></i> #}
        <h3 class="bg-light py-4 text-info" align="center">Reclamations gérer</h3>
    </div>
    <div class="box-body">
    <form action="#" method="post">
    <div class="form-group">
    <html lang="en" dir="ltr">
<div class="container">
<div class="container" style="align-items: flex-start">
    <h3 ALIGN="center">Stats : Reclamations Par Etat</h3>
    <canvas id="reclamations" width="500" height="100" style="align-items: center"></canvas>
</div>
<script src="{{ asset("https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js") }}" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{{ asset("mystyli.css")}}">
<script>
    let reclamations = document.querySelector("#reclamations")
    let catGraph = new Chart(reclamations, {
        type: "pie",
        data: {
            labels: {{ catType |raw}},
            datasets: [{
                label: "Reclamations",
                data: {{ catCount| raw }},
                backgroundColor:{{ catColor| raw}},
            }]

        }
    })

</script>
<br>
<br>
<br>
<br>
<br>
<br>

<a class="btn btn-soundcloud" href="{{ path('reclamation_index') }}"> <i class="fa fa-reply"></i> Back To List</a>
</div>
{% endblock %}