{% extends 'base.html.twig' %}

{% block title %}Produits index{% endblock %}

{% block body %}

    <h1>Produits index</h1>

    <input class="col-10" type="text" name="AfficherClasse" onkeyup="myFunction()" placeholder="Nom (EX:yassine)"id="myInput">
<a href="{{path('TrierParQ') }}"><i class="align-middle" ></i>  Trier </a>
<br><br>
<a href="{{path('stat') }}" class="btn btn-sm btn-dark"><i class="align-middle" ></i>  Voir Statistique </a>
    <table class="table">
    <table class="table" id="mytable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Type</th>
                <th>Quantites</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.type }}</td>
                <td>{{ produit.quantites }}</td>
                <td>{{ produit.prix }}</td>
                <td>
                    <a href="{{ path('produits_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('produits_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




        <a href="{{ path('produits_new') }}">Create new</a>
    <script>


        id="mytable"
        function myFunction() {
            var input, filter, table, tr, td, i,j, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("mytable");
            tr = table.getElementsByTagName("tr");
//   alert(td.length);
            for (i = 0; i < tr.length; i++) {
                td= tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }




    </script>

{% endblock %}
