{% extends 'front/index.html.twig' %}
{% block body %}
    <script>
        var botmanWidget = {
            frameEndpoint: '{{ path("chatframe") }}',
            chatServer: '{{ path("message") }}',
            title: 'Chatbot',
            mainColor: '#FF5733',
            bubbleBackground: '#FF5733',
            aboutText: ''
        };
    </script>
    <script src='https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/widget.js'></script>


    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive" id="source0">
                <table class="table table-bordered"  width="100%" cellspacing="0" id="tableac">

                    <tr>
                        <th>libelle</th>
                        <th>Type</th>

                        <th>prix</th>

                    </tr>
                    <tbody>
                    {% for i in produits %}
                        <tr>
                            <td>{{ i.libelle }}</td>

                            <td>{{ i.type }}</td>

                            <td>{{ i.prix }}</td>




                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="row">
                    <div class="col-md-12 js-filter-pagination">
                        <!-- Pagination -->
                        {{ knp_pagination_render(produits) }}
                    </div>
                </div>
                <!-- Pagination / End -->

            </div>
        </div>
    </div>

    </center>
{% endblock %}