{% extends 'base.html.twig' %}


{% block body %}
    <center>
        <body>
        <ul>
            {% for appointment in reservation %}

                <li>
                    <font size="+6"> <h style="color:lightcoral;" font-size: 20em>Numero salles:</h> </font><td>  </td> <font size="+6"> {{ appointment.numsalles }}</font>
                </li>
                <li>
                    <font size="+6">  <h style="color:lightcoral;">Specialite:</h> </font><td>  </td> <font size="+6">{{ appointment.specialite }}</font>
                </li>
                <li>
                    <font size="+6"> <h style="color:lightcoral;">Date:</h></font><td>  </td> <font size="+6">{{ appointment.date | date('d/m/y') }} </font>
                </li>
                <li>
                    <font size="+6"> <h style="color:lightcoral;">Horraire:</h></font><td>  </td> <font size="+6">{{ appointment.horraire }} </font>
                </li>
                <li>
                    <font size="+6"> <h style="color:lightcoral;">Duree:</h></font><td>  </td> <font size="+6">{{ appointment.duree }} </font>
                </li>


            {% endfor %}
        </ul>

        <div class="navigation">
            {{ knp_pagination_render(reservation) }}
        </div>

        </body>
        </html>
    </center>
{% endblock %}
